.MainTimerContainer {
    border: 4px solid #a8a887;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(48, 59, 97, 0.6)
}

.timerDisplay {
    margin-top: 23px;
    border: 4px solid #a8a887;
    width: 450px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonsUpBlock {
    display: flex;
}

.plus {
    margin: 0 20px 0 20px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #a8a887;
    cursor: pointer;
}
.plusDisabled {
    margin: 0 20px 0 20px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 24px solid #a8a887;
    cursor: pointer;
    z-index: -1;
}

.buttonsDownBlock {
    display: flex;
}

.minus {
    margin: 0 20px 0 20px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid #a8a887;
    cursor: pointer;
}
.minusDisabled {
    margin: 0 20px 0 20px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid #a8a887;
    cursor: pointer;
    z-index: -1;
}

.setBTNsContainer {
    font-size: 28px;
    margin-top: 25px;
    width: 400px;
    display: flex;
    justify-content: space-around;

}

.setBTN_style {
    width: 100px;
    text-align: center;
    cursor: pointer;

}
.setBTN_style:hover {
    width: 100px;
    border-bottom: 4px solid #a8a887;
    text-align: center;
    padding-bottom: 5px;
}

.setBTN_disabled {
    z-index: -1;
}



